
.btn {
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btnOrange {
    background-color: var(--orange);
    color: var(--white);
    margin-top: 2.5rem;
}
.btnOrange:hover {
   background-color: var(--light-orange);
}

.shopBtn {
    border: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    color: var(--black);
    opacity: 50%;
    cursor: pointer;
    transition: all 0.3s;
}
.shopBtn:hover {
    color: var(--orange);
    opacity: 100%;
}

.shopBtn img {
    margin-left: 13px;
}

.btnDark {
    background-color: var(--black);
    color: var(--white);
    margin-top: 40px;
}
.btnDark:hover {
    background-color: var(--gray-400);
    
}

.btnTransparent {
    border: 1px solid var(--black);
    margin-top: 2rem;
}
.btnTransparent:hover {
    background-color: var(--black);
    color: var(--white);
}