.hero {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-info {
    width: 398px;
}

.hero .hero-info .condition {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--white);
    opacity: 50%;
}
.hero .hero-info .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    color: var(--white);
    margin: 1.5rem 0;
}
.hero .hero-info .descr {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--white);
    opacity: 75%;
}
.hero .hero-info .descr {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--white);
    opacity: 75%;
}
  