.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

.nav .nav-logo {
    width: 143px;
    height: 25px;
    font-size: 2rem;
    color: var(--white);
}

.nav > .nav-list {
    display: flex;
    gap: 34px;
}

.nav .nav-list > li {
    list-style-type: none;
}

.nav .nav-list > li a {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s;

}
.nav .nav-list > li:hover a {
    color: var(--orange);
}

.nav > .nav-cart {
    width: 23px;
    height: 20px;
}

.underLine {
   width: 100%;
   height: 1px;
   background: var(--white);
   opacity: 20%;
}

.nav .nav-list .active {
    color: var(--orange);
}